<% include partials/header %>

<main>
    <% if(currentUser){ %>
        <h2>Favorites <span id="fav-amount">(<%= 9 - friends.length %> left)</span></h2>
        <% friends.forEach(function(friend) { %>
            <a href="<%= friend.username %>" title="<%= friend.username %> (<%= friend.user.location %>)" class="box small new-block" style="background-color: <%= friend.user.color %> !important;"><%= friend.username %></a>
        <% }) %>
        <br /><br />
    <% } %>

    <h2>Today</h2>

    <div id="updated-today">
        <% users.forEach(function(user){ %>
            <% if (new Date(user.user.lastUpdated).getDate() === new Date().getDate()) { %>
                <a href="<%= user.username %>" title="<%= user.username %> (<%= user.user.location %>)" class="box small new-block" style="background-color: <%= user.user.color %> !important;"><%= user.username %></a>
            <% } %>
        <% }) %>
    </div><br />
    
    <h2>Explore</h2>

    <div id="filters">
        <div class="filter flower"></div>
        <div class="filter heart"></div>
        <div class="filter leaf"></div>
        <div class="filter mushroom"></div>
        <div class="filter pebble"></div>
        <div class="filter star"></div>
    </div>

    <div id="everyone">
        <% users.forEach(function(user){ %>
            <% if(user.user.description || user.user.songs.song1 != '' || user.user.books.book1 != '' || user.user.films.film1 != '' || user.user.links.link1 != '' || user.user.custom.custom1 != '') { %>
                <a href="<%= user.username %>" title="<%= user.username %> (<%= user.user.location %>)" class="box small new-block person shape-<%= user.user.shape %>" style="background-color: <%= user.user.color %> !important;"><%= user.username %></a>
            <% } %>
        <% }) %>
    </div>
</main>

<script src="js/filters.js"></script>
<% include partials/footer %>