<% include ../partials/header %>

                
<main>


    <% if(currentUser){ if(currentUser.username == profile.username){ %>
        <div id="tabs">
            <a id="preview-tab" class="current-tab">Profile</a>
            <a id="edit-tab">Edit</a>
            <a id="favorites-tab">Favorites</a>
        </div>

        <div id="edit-tab-content">
            <section>
                <form action="/<%= profile.username %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" name="description"><%= profile.user.description %></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-label" name="songs_title" value="<%= profile.user.songs.songs_title %>" type="text" placeholder="Songs"><br /><br />
                        <input class="form-control" name="song1" value="<%= profile.user.songs.song1 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="song2" value="<%= profile.user.songs.song2 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="song3" value="<%= profile.user.songs.song3 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="song4" value="<%= profile.user.songs.song4 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="song5" value="<%= profile.user.songs.song5 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="song6" value="<%= profile.user.songs.song6 %>" type="url" placeholder="url"><br />
                    </div>
                    <div class="form-group">
                        <input class="form-label" name="books_title" value="<%= profile.user.books.books_title %>" type="text" placeholder="Books"><br /><br />
                        <input class="form-control" name="book1" value="<%= profile.user.books.book1 %>" type="text" placeholder="title, author"><br />
                        <input class="form-control" name="book2" value="<%= profile.user.books.book2 %>" type="text" placeholder="title, author"><br />
                        <input class="form-control" name="book3" value="<%= profile.user.books.book3 %>" type="text" placeholder="title, author"><br />
                        <input class="form-control" name="book4" value="<%= profile.user.books.book4 %>" type="text" placeholder="title, author"><br />
                        <input class="form-control" name="book5" value="<%= profile.user.books.book5 %>" type="text" placeholder="title, author"><br />
                        <input class="form-control" name="book6" value="<%= profile.user.books.book6 %>" type="text" placeholder="title, author"><br />
                    </div>
                    <div class="form-group">
                        <input class="form-label" name="films_title" value="<%= profile.user.films.films_title %>" type="text" placeholder="Movies"><br /><br />
                        <input class="form-control" name="film1" value="<%= profile.user.films.film1 %>" type="text" placeholder="title, director"><br />
                        <input class="form-control" name="film2" value="<%= profile.user.films.film2 %>" type="text" placeholder="title, director"><br />
                        <input class="form-control" name="film3" value="<%= profile.user.films.film3 %>" type="text" placeholder="title, director"><br />
                        <input class="form-control" name="film4" value="<%= profile.user.films.film4 %>" type="text" placeholder="title, director"><br />
                        <input class="form-control" name="film5" value="<%= profile.user.films.film5 %>" type="text" placeholder="title, director"><br />
                        <input class="form-control" name="film6" value="<%= profile.user.films.film6 %>" type="text" placeholder="title, director"><br />
                    </div>
                    <div class="form-group">
                        <input class="form-label" name="links_title" value="<%= profile.user.links.links_title %>" type="text" placeholder="Links"><br /><br />
                        <input class="form-control" name="link1" value="<%= profile.user.links.link1 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="link2" value="<%= profile.user.links.link2 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="link3" value="<%= profile.user.links.link3 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="link4" value="<%= profile.user.links.link4 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="link5" value="<%= profile.user.links.link5 %>" type="url" placeholder="url"><br />
                        <input class="form-control" name="link6" value="<%= profile.user.links.link6 %>" type="url" placeholder="url"><br />
                    </div>
                    <div class="form-group">
                        <input class="form-label" name="custom_title" value="<%= profile.user.custom.custom_title %>" type="text" placeholder="List, poem, favorite months..."><br /><br />
                        <input class="form-control" name="custom1" value="<%= profile.user.custom.custom1 %>" type="text" placeholder="text"><br />
                        <input class="form-control" name="custom2" value="<%= profile.user.custom.custom2 %>" type="text" placeholder="text"><br />
                        <input class="form-control" name="custom3" value="<%= profile.user.custom.custom3 %>" type="text" placeholder="text"><br />
                        <input class="form-control" name="custom4" value="<%= profile.user.custom.custom4 %>" type="text" placeholder="text"><br />
                        <input class="form-control" name="custom5" value="<%= profile.user.custom.custom5 %>" type="text" placeholder="text"><br />
                        <input class="form-control" name="custom6" value="<%= profile.user.custom.custom6 %>" type="text" placeholder="text"><br />
                    </div>
                    <div class="form-group">
                        <label class="editProfileLabel" for="location">Location</label>
                        <input class="form-control" name="location" value="<%= profile.user.location %>" type="text" placeholder="Location" maxlength="40" required>
                    </div>
                    <div class="form-group">
                        <label class="editWebsiteLabel" for="website">Website</label>
                        <input class="form-control" name="website" value="<%= profile.user.website %>" type="url">
                    </div>
                    <div class="form-group">
                        <label class="editCustomNameLabel" for="name">Name</label>
                        <input class="form-control" name="customName" value="<%= profile.user.customName %>" type="text" maxlength="35">
                    </div>
                    <div class="form-group">
                        <label class="editUsernameLabel" for="username">Username</label>
                        <em>(only letters and numbers)</em>
                        <input class="form-control" name="username" value="<%= profile.username %>" type="text" pattern="[a-zA-Z0-9-\-\_]+" maxlength="13" required>
                    </div>
                    <div class="form-group">
                        <label class="editColorLabel" for="color">Color</label><br />
                        <input class="form-control" name="color" value="<%= (profile.user.color == null) ? '#32a852' : profile.user.color  %>" type="color" placeholder="#32a852" required>
                    </div>
                    <div class="form-group">
                        <label class="editShapeLabel" for="shape">Community</label>
                        <select name="shape">
                            <option <% if(profile.user.shape == '') { %>selected<% } %> value=""></option>
                            <option <% if(profile.user.shape == 'flower') { %>selected<% } %> value="flower">flower</option>
                            <option <% if(profile.user.shape == 'heart') { %>selected<% } %> value="heart">heart</option>
                            <option <% if(profile.user.shape == 'leaf') { %>selected<% } %> value="leaf">leaf</option>
                            <option <% if(profile.user.shape == 'mushroom') { %>selected<% } %> value="mushroom">mushroom</option>
                            <option <% if(profile.user.shape == 'pebble') { %>selected<% } %> value="pebble">pebble</option>
                            <option <% if(profile.user.shape == 'star') { %>selected<% } %> value="star">star</option>
                        </select>
                    </div>
                    <div class="form-group">
                    <button class="regular-button">Save</button>
                </form>
            </section>
        </div>

        <div id="favorites-tab-content">
            <section>        
                <% if(friends.length > 0) { %>
                <ol>
                    <% friends.forEach(function(friend) { %>
                        <% if(friend != null) { %>
                            <li>
                            <a href="<%= friend.username %>" class="box small" style="background-color: <%= friend.user.color %> !important;"></a> <%= friend.username %>
                            <form class="remove-friend" action='<%= currentUser.username %>/remove-friend/<%= friend._id %>?_method=DELETE' method='POST'>
                                <button class="tiny-button">remove</button>
                            </form>
                            </li>
                        <% } %>
                    <% }) %>
                </ol>
                <% } %>
            </section>
        </div>
        
    <% } } %>

    <% if(currentUser){ if(currentUser.username == profile.username){ %>
    <div id="preview-tab-content">
    <% } } else { %>
    <div>
    <% } %>
        <span class="box large" style="background-color: <%= profile.user.color %> !important;"></span> <% if(profile.user.shape){ %><span class="shape <%= profile.user.shape %>"></span><% } %>

        <h2><% if(profile.user.customName && profile.user.customName.length > 0){ %><%= profile.user.customName %><% } else { %><%= profile.username %><% } %></h2>

        <p>
            <% if(profile.user.website){ %><a href="<%= profile.user.website %>"><%= profile.user.website %></a>, <% } %><%= profile.user.location %>
        </p>

        <% if(currentUser){ if(currentUser.username != profile.username){ %>
            <p>
                <form class="add-friend" action="/<%= profile.username %>/friend?_method=PUT" method="POST">
                    <button class="tiny-button">favorite</button>
                </form>
            </p>
        <% }} %>

    
        <% if(profile.user.description) { %>
            <section id="description"><%= profile.user.description %></section>
        <% } %>
    
        <% if(profile.user.songs.songs_title || profile.user.songs.song1) { %>
            <section>
                <h3><% if(!profile.user.songs.songs_title) { %>Music<% } else { %><%= profile.user.songs.songs_title %><% } %></h3>
                <ul>
                    <% if(profile.user.songs.song1) { %><li><a href="<%= profile.user.songs.song1 %>"><%= profile.user.songs.song1 %></a></li><% } %>
                    <% if(profile.user.songs.song2) { %><li><a href="<%= profile.user.songs.song2 %>"><%= profile.user.songs.song2 %></a></li><% } %>
                    <% if(profile.user.songs.song3) { %><li><a href="<%= profile.user.songs.song3 %>"><%= profile.user.songs.song3 %></a></li><% } %>
                    <% if(profile.user.songs.song4) { %><li><a href="<%= profile.user.songs.song4 %>"><%= profile.user.songs.song4 %></a></li><% } %>
                    <% if(profile.user.songs.song5) { %><li><a href="<%= profile.user.songs.song5 %>"><%= profile.user.songs.song5 %></a></li><% } %>
                    <% if(profile.user.songs.song6) { %><li><a href="<%= profile.user.songs.song6 %>"><%= profile.user.songs.song6 %></a></li><% } %>
                    <% if(profile.user.songs.song7) { %><li><a href="<%= profile.user.songs.song7 %>"><%= profile.user.songs.song7 %></a></li><% } %>
                    <% if(profile.user.songs.song8) { %><li><a href="<%= profile.user.songs.song8 %>"><%= profile.user.songs.song8 %></a></li><% } %>
                </ul>
            </section>
        <% } %>
    
        <% if(profile.user.books.books_title || profile.user.books.book1) { %>
            <section>
                <h3><% if(!profile.user.books.books_title) { %>Books<% } else { %><%= profile.user.books.books_title %><% } %></h3>
                <ul>
                    <% if(profile.user.books.book1) { %><li><%= profile.user.books.book1 %></li><% } %>
                    <% if(profile.user.books.book2) { %><li><%= profile.user.books.book2 %></li><% } %>
                    <% if(profile.user.books.book3) { %><li><%= profile.user.books.book3 %></li><% } %>
                    <% if(profile.user.books.book4) { %><li><%= profile.user.books.book4 %></li><% } %>
                    <% if(profile.user.books.book5) { %><li><%= profile.user.books.book5 %></li><% } %>
                    <% if(profile.user.books.book6) { %><li><%= profile.user.books.book6 %></li><% } %>
                    <% if(profile.user.books.book7) { %><li><%= profile.user.books.book7 %></li><% } %>
                    <% if(profile.user.books.book8) { %><li><%= profile.user.books.book8 %></li><% } %>
                </ul>
            </section>
        <% } %>

        <% if(profile.user.films.films_title || profile.user.films.film1) { %>
            <section>
                <h3><% if(!profile.user.films.films_title) { %>Movies<% } else { %><%= profile.user.films.films_title %><% } %></h3>
                <ul>
                    <% if(profile.user.films.film1) { %><li><%= profile.user.films.film1 %></li><% } %>
                    <% if(profile.user.films.film2) { %><li><%= profile.user.films.film2 %></li><% } %>
                    <% if(profile.user.films.film3) { %><li><%= profile.user.films.film3 %></li><% } %>
                    <% if(profile.user.films.film4) { %><li><%= profile.user.films.film4 %></li><% } %>
                    <% if(profile.user.films.film5) { %><li><%= profile.user.films.film5 %></li><% } %>
                    <% if(profile.user.films.film6) { %><li><%= profile.user.films.film6 %></li><% } %>
                    <% if(profile.user.films.film7) { %><li><%= profile.user.films.film7 %></li><% } %>
                    <% if(profile.user.films.film8) { %><li><%= profile.user.films.film8 %></li><% } %>
                </ul>
            </section>
        <% } %>
    
        <% if(profile.user.links.links_title || profile.user.links.link1) { %>
            <section>
                <h3><% if(!profile.user.links.links_title) { %>Links<% } else { %><%= profile.user.links.links_title %><% } %></h3>
                <ul>
                    <% if(profile.user.links.link1) { %><li><a href="<%= profile.user.links.link1 %>"><%= profile.user.links.link1 %></a></li><% } %>
                    <% if(profile.user.links.link2) { %><li><a href="<%= profile.user.links.link2 %>"><%= profile.user.links.link2 %></a></li><% } %>
                    <% if(profile.user.links.link3) { %><li><a href="<%= profile.user.links.link3 %>"><%= profile.user.links.link3 %></a></li><% } %>
                    <% if(profile.user.links.link4) { %><li><a href="<%= profile.user.links.link4 %>"><%= profile.user.links.link4 %></a></li><% } %>
                    <% if(profile.user.links.link5) { %><li><a href="<%= profile.user.links.link5 %>"><%= profile.user.links.link5 %></a></li><% } %>
                    <% if(profile.user.links.link6) { %><li><a href="<%= profile.user.links.link6 %>"><%= profile.user.links.link6 %></a></li><% } %>
                    <% if(profile.user.links.link7) { %><li><a href="<%= profile.user.links.link7 %>"><%= profile.user.links.link7 %></a></li><% } %>
                    <% if(profile.user.links.link8) { %><li><a href="<%= profile.user.links.link8 %>"><%= profile.user.links.link8 %></a></li><% } %>
                </ul>
            </section>
        <% } %>

        <% if(profile.user.custom.custom_title || profile.user.custom.custom1) { %>
            <section>
                <% if(profile.user.custom.custom_title) { %><h3><%= profile.user.custom.custom_title %></h3><% } %>
                <ul>
                    <% if(profile.user.custom.custom1) { %><li><%= profile.user.custom.custom1 %></li><% } %>
                    <% if(profile.user.custom.custom2) { %><li><%= profile.user.custom.custom2 %></li><% } %>
                    <% if(profile.user.custom.custom3) { %><li><%= profile.user.custom.custom3 %></li><% } %>
                    <% if(profile.user.custom.custom4) { %><li><%= profile.user.custom.custom4 %></li><% } %>
                    <% if(profile.user.custom.custom5) { %><li><%= profile.user.custom.custom5 %></li><% } %>
                    <% if(profile.user.custom.custom6) { %><li><%= profile.user.custom.custom6 %></li><% } %>
                    <% if(profile.user.custom.custom7) { %><li><%= profile.user.custom.custom7 %></li><% } %>
                    <% if(profile.user.custom.custom8) { %><li><%= profile.user.custom.custom8 %></li><% } %>
                </ul>
            </section>
        <% } %>
    
        <% if(friends.length > 0) { %>
            <section id="friends-section">
                <h3><%= profile.username %> is a fan of</h3>
                <div id="friends">
                    <% friends.forEach(function(friend) { %>
                        <% if(friend != null) { %>
                            <a href="<%= friend.username %>" style="background-color: <%= friend.user.color %> !important;"><%= friend.username %></a>
                        <% } %>
                    <% }) %>
                </div>
            </section>
        <% } %>
    </div>
    
    
</main>

<script src="js/profile-tabs.js"></script>
<% include ../partials/footer %>